.user_box {
	border: 2px double black;
	display: inline-block;
	box-shadow: 10px 10px 5px #888;
	/*overflow: scroll;*/
	margin-top: 5px;
	margin-right: 30px;
	margin-left:5px;
	width:20%;
	height: 300px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	border-radius: 1%;
}

#first_box {
	margin-left: 60px;
}

.inner_pic {
	/*border: 1px solid blue;*/
	margin-top: 1px;
	overflow: none;
	height: 40%;
	position: relative;
}

.inner_pic img {
	position: absolute;
	left:30%;
	border-radius: 50%;
}

.inner_data {
	/*border: 2px solid orange;*/
	height: 100%;
}

.inner_data pre {
	margin-top: 7px;
	margin-bottom: 2px;
	margin-left: 2px;
	font-family: "Fertigo", "Vollkorn", "Open Sans";
	font-style: oblique;
	font-weight: bold;
}

#top_detail {
	margin-top: 20px;
}

#search_container {
	position: relative;
	text-align: center;
	width:40em;
	height:6em;
	margin:15px auto;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

#search_container form p {
	display: inline-block;
}

#search_box {
	width:30em;
	height:3em;
	text-align: center;
	font-size: 18px;
}

#submit_search {
	width:4.5em;
}

#button_container {
	margin:2em auto;
	width:20em;
	/*border:1px solid black;*/
}

/*#button_container img{
	border:1px solid black;
}*/

#img_1 {
	margin-right: 10px;
}

#img_2 {
	margin-left: 10px;
}