body {
	background-image: url('index_background.jpg');
}

#welcome_text_container {
	text-align: center;
}

#welcome_text_container pre {
	font-family: "Brush Script MT", cursive;
	font-size: 4em;
}

#login_container {
    width:40em;
    height:12em;
    margin:5em auto;
    text-align: center;
    -moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

#login_container h1 {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

input {
	width:20em;
	height: 1.5em;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 14px;
	background-color: #c4c4c4 #d1d1d1 #d4d4d4;
	text-align:center;
}

#submit {
	width:10em;
}

#error_container {
	border:2em black;
	padding:10px;
	width:40em;
    height:4.6em;
    margin:5em auto;
    -moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
}

#error_container h2{
	color:red;
	text-align: center;
}