body {
	margin: 0;
	padding: 0;
	background-image: url('index_background.jpg');
	/*background-color: blue;*/
}

#navbar li a {
	text-decoration: none;
	color: black;
}

#nav_main {
	border:1px solid black;
	width:100%;
	margin-top:0px;
	background-color: #B2F0F0;
	/*background-color: #666;*/
	text-align: center;
}

#navbar {
	list-style-type: none;
	position: relative;
	margin:0;
	padding:0;
}

#navbar p {
	font-size: 2em;
}


#navbar p {
	margin: 0 auto;
	padding: 0 auto;
	display: inline-block;
}

#navbar li {
	display: inline-block;
	font-size: 2em;
	margin-right: 50px;
}
